@model ForgetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}
<h1>Forget Password</h1>
<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All"></div>


    <input type="email" asp-for="Email" placeholder="Email" class="form-control">
    <span asp-validation-for="Email"></span>
    <input type="submit" value="Reset Password" class="btn btn-secondary">

</form>