@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}
<h1>Login</h1>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>


    <input type="email" asp-for="Email" placeholder="Email" class="form-control">
    <span asp-validation-for="Email"></span>
    <br>
    <input type="password" asp-for="Password" placeholder="Password" class="form-control">
    <span asp-validation-for="Password"></span>
    <br>
    <div class="wthree-text">
        <label class="anim">
            <input type="checkbox" asp-for="IsAgree">
            <span>I Agree To The Terms Conditions</span>
        </label>
        <div class="clear"></div>
    </div>
    <input type="submit" value="Login" class="btn btn-secondary">
</form>
<p>Do't You Have an Account? <a asp-action="SignUp">Register Now</a></p>
<br />
<p><a asp-action="ForgetPassword">Forget Password!</a></p>