@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}

<h1>Reset Password</h1>

<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Token" hidden required="false"/>
    <input asp-for="Email" hidden required="false"/>
    <input type="password" asp-for="Password" placeholder="Password" class="form-control">
    <span asp-validation-for="Password"></span>
    <br>
    <input type="password" asp-for="ConfirmePassword" placeholder="ConfirmePassword" class="form-control">
    <span asp-validation-for="ConfirmePassword"></span>

    <input type="submit" value="Change Password" class="btn btn-secondary">
</form>